In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_json("data.json")
df.head()

                                                     rasa_nlu_data
common_examples  [{'text': '
Good morning, I want to apply for ...
entity_synonyms  [{'value': 'EEO', 'synonyms': ['AAP', 'Affirma...
lookup_tables    [{'name': 'recruiting_information', 'elements'...
regex_features                                                  []

In [3]:
intent_list=list()
text_list=list()
for i in df['rasa_nlu_data']['common_examples']:
    intent_list.append(i['intent'])
    text_list.append(i['text'])
intent_text=dict()
for i in range(len(intent_list)):
    intent_text[intent_list[i]]=[]
for i in range(len(intent_list)):
    intent_text[intent_list[i]].append(text_list[i])

In [4]:
num_text_per_intent=dict()
for keys,values in intent_text.items():
    num_text_per_intent[keys]=len(values)
most_text=max(num_text_per_intent.values())

In [5]:
dataframe={'intent_name':[],'text':[]}
for keys,values in intent_text.items():
    for i in values:
        dataframe['intent_name'].append(keys)
        dataframe['text'].append(i)
df=pd.DataFrame(dataframe)
# print(df[df['intent_name']=='Jobs_Location'])
df_dict=dict()
for i in intent_list:
    df_dict[i]=df[df['intent_name']==i]

In [6]:
from imblearn.over_sampling import SMOTE
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [7]:
from imblearn.pipeline import Pipeline
textclassifier=Pipeline([
    CountVectorizer(),
    SMOTE(random_state=12),
    MultinomialNB(alpha=0.1)
])

In [8]:
intent_set=set(intent_list)
intent_list_unique=[]
for i in intent_list:
    if not i in intent_list_unique:
        intent_list_unique.append(i)
print(len(intent_list_unique))

517

In [9]:
dict_list=dict()
for i in range(len(intent_list_unique)):
    dict_list[intent_list_unique[i]]=i

In [10]:
df.head()

     intent_name                                               text
0  Jobs_Location  \nGood morning, I want to apply for a vacancy ...
1  Jobs_Location    I'm looking for a job. I'm from Manaus Amazonas
2  Jobs_Location  "Hi, I'm a 24 years old lawyer from Caracas, V...
3  Jobs_Location   'm looking for Call Center jobs for Sprint in MN
4  Jobs_Location  7062549950 I am interested in working in Evans...

In [11]:
for i in range(len(df)):
    temp=df['intent_name'][i]
    df['intent_name'][i]=dict_list[temp]

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.text,df.intent_name,test_size=0.3,stratify=df.intent_name)

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
vector=CountVectorizer()
x_train_count=vector.fit_transform(x_train)

y_train.

SyntaxError: invalid syntax (1111177464.py, line 5)